<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page One</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>

<body>
  <input id="input" type="text" trabant="input" value="<%= @to_do %>">
  <div id="my-div" trabant="my-div">Answer to the question</div>
  <br>
  <input type="submit" value="click to send for the answer" id="my-button" trabant="click:Trabant.Commander.button_click">
  <span><%= @to_do %></span>
</body>

<script>
  <%= Trabant.Client.run() %>
</script>

</html>
